@import url(https://fonts.googleapis.com/css?family=Ruda:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

html{
    height:100%;
    text-align: center !important;
}
h1 {
    font-family: 'Ruda', sans-serif !important;
}
h2 {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 200;
}

body {
    background-color: #ecf0f1;
    padding: 5em;
    font-family: 'Source Sans Pro', sans-serif !important;
    text-align: center !important;
}

.heading {
    margin-bottom: 3em;
}

.footer {
    margin-top: 7em;
    font-size: .8em;
}

img {
    width=1;
    height=1;
}

.button {
    background-color: #0099ff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 7px;
    font-family: 'Source Sans Pro', sans-serif !important; 
}

.button:hover {
    background-color: #66adff;
}

.button:active {
    background-color: #005fcc;
}

.sbutton {
    background-color: #2c3e50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 7px;
    font-family: 'Source Sans Pro', sans-serif !important; 
}

.sbutton:hover {
    background-color: #34495e;
}

.sbutton:active {
    background-color: #1F2B38;
}

.rbutton {
    background-color: #FF0000;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 7px;
    font-family: 'Source Sans Pro', sans-serif !important; 
}

.rbutton:hover {
    background-color: #FB423F;
}

.rbutton:active {
    background-color: #B6423F;
}

.pbutton {
    background-color: #A42FF6;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 7px;
    font-family: 'Source Sans Pro', sans-serif !important; 
}

.pbutton:hover {
    background-color: #A487F6;
}

.pbutton:active {
    background-color: #7900B7;
}

.cbutton {
    background-color: #D1FFF7;
    border: none;
    color: black;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 7px;
    font-family: 'Source Sans Pro', sans-serif !important; 
}

.cbutton:hover {
    background-color: #EBFFFB;
}

.cbutton:active {
    background-color: #80FFE9;
}

.clbutton {
    background-color: none;
    border: none;
    color: black;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 7px;
    font-family: 'Source Sans Pro', sans-serif !important; 
}

.cbutton:hover {
    background-color: #EBFFFB;
}

.cbutton:active {
    background-color: #80FFE9;
}

*{
  margin: 0;
  padding: 0;
}

/* The ribbons */

.corner-ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Custom styles */

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-left{
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Colors */

.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}



